{% extends 'base.html' %}

{% block content %}
    <h1>Bienvenue sur NBA Target !</h1>
    
    <p>Investisseur ou sponsor, vous souhaitez connaître le potentiel des joueurs NBA débutants ? Vous pouvez le découvrir en quelques clics grâce à cette plateforme.</p>

    <h2>Fonctionnement</h2>
    
    <p>Il suffit de <a href="/recherche">rentrer les données d'un joueur</a>, ses statistiques de matchs, et vous saurez si ce nouveau joueur de la NBA restera dans la ligue d'ici cinq ans.</p>


{% endblock %}
 